<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="https://cdn.ckeditor.com/ckeditor5/35.0.1/super-build/ckeditor.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css"
      integrity="sha512-XWTTruHZEYJsxV3W/lSXG1n3Q39YIWOstqvmFsdNEEQfHoZ6vm6E9GK2OrF6DSJSpIbRbi+Nn0WDPID9O7xB2Q=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body>
    <div class="d-flex">
      <nav
        class="navbar d-flex flex-column justify-content-between align-items-start py-32 bg-gray-100 position-sticky top-0 start-0 vh-100"
        id="navbar"
      >
        <div class="w-100">
          <a href="#" class="w-100 mb-32 px-32"
            ><img src="./assets/images/logo-ANSWER.svg" alt="LOGO"
          /></a>
          <div class="d-flex flex-column w-100 fw-bold">
            <a
              class="navbar-brand d-flex align-items-center px-32 py-1 mx-0 mb-24 fs-6"
              href="#"
            >
              <span class="material-icons me-3"> assessment </span>Dashboard
            </a>
            <a
              class="navbar-brand d-flex align-items-center mx-0 mb-24 px-32 py-1 fs-6"
              href="#"
            >
              <span class="material-icons me-3"> question_answer </span>Question
            </a>
            <a
              class="navbar-brand d-flex align-items-center mb-24 mx-0 px-32 py-1 fs-6 text-default nav_active"
              href="index.html"
            >
              <span class="material-icons me-3"> assignment </span>Assignment
            </a>
            <a
              class="navbar-brand d-flex align-items-center mx-0 mb-24 px-32 py-1 fs-6"
              href="#"
            >
              <span class="material-icons me-3"> shop_two </span>Course
            </a>
            <a
              class="navbar-brand d-flex align-items-center mx-0 mb-24 px-32 py-1 fs-6"
              href="admin.html"
            >
              <span class="material-icons me-3"> supervisor_account </span>
              Admin
            </a>
            <a
              class="navbar-brand d-flex align-items-center mx-0 px-32 fs-6"
              href="#"
            >
              <span class="material-icons me-3"> settings </span>Settings
            </a>
          </div>
        </div>
        <div href="#" class="d-flex ps-32 align-items-center w-100">
          <img
            src="./assets/images/andychen.jpeg"
            alt=""
            class="resize rounded-circle me-3"
          />
          <div>
            <h3 class="mb-1 fw-bold fs-6">Andy Chen</h3>
            <a href="mailto:andy0401@mail.com" class="text-gray-600 fs-7"
              >andy0401@mail.com</a
            >
          </div>
        </div>
      </nav>

      <%- contents %>
    </div>
    <footer class="footer"></footer>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.bundle.min.js"
      integrity="sha512-9GacT4119eY3AcosfWtHMsT5JyZudrexyEVzTBWV3viP/YfB9e2pEy3N7WXL3SV6ASXpTU0vzzSxsbfsuUH4sQ=="
      crossorigin="anonymous"
    ></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
