body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: $gray-900;
  display: inline-block;
  :hover {
    color: $default !important;
  }
}

img {
  object-fit: cover;
}

code {
  font-family: "Roboto Mono", monospace;
  color: $default;
  background-color: $gray-100;
}

table {
  th,
  td {
    padding-top: 19px !important;
    padding-bottom: 17px !important;
  }
  tr:hover {
    background-color: $gray-100;
  }
  thead {
    border-bottom: 1px solid $gray-900;
    th,
    td {
      border: none;
      padding-top: 0 !important;
      padding-bottom: 4px !important;
    }
    tr:hover {
      background: none;
    }
  }
}
