body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: $gray-900;
  display: inline-block;
  :hover {
    color: $default !important;
  }
}

img {
  object-fit: cover;
}

nav {
  min-width: 296px;
  a {
    position: relative;
    &:hover {
      color: $default !important;
    }
  }
  span::before {
    content: "";
    opacity: 0;
    width: 4px;
    height: 100%;
    background-color: $default;
    position: absolute;
    top: 0;
    left: 0px;
  }
  a:hover span::before {
    opacity: 1;
  }
}

table {
  th,
  td {
    padding-top: 19px !important;
    padding-bottom: 17px !important;
  }
  tr:hover {
    background-color: $gray-100;
  }
  thead {
    border-bottom: 1px solid $gray-900;
    th,
    td {
      border: none;
      padding-top: 0 !important;
      padding-bottom: 4px !important;
    }
    tr:hover {
      background: none;
    }
  }
}

.page-link {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $gray-900;
  overflow: hidden;
  &:hover {
    background-color: $default;
    color: white !important;
  }
  &:hover span {
    color: white !important;
  }
}

// * {
//   outline: solid 1px;
// }
